body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* Center the DIV horizontally */
}

.fixed-header {
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}

.fixed-header {
    top: 0;
}

.fixed-header,
.fixed-footer {
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}


/* Some more styles to beutify this example */