<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/styles_index.css">
</head>

<body>
    <div class="bg">
        <div class="fixed-header">
            <div class="container">
                <nav>
                    <a href="/registorpage">registor</a>
                    <a href="/loginpage">login</a>
                </nav>
            </div>
        </div>
        <p>
            This website allows users to registor or login and servers world time and world weather
        </p>

        <div class="fixed-footer">
            <div class="container">Copyright &copy; 2016 saint</div>
        </div>
    </div>
</body>

</html>