<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/styles_index.css">
</head>

<body>
    {% if error != form_error -%}
    <div class="fixed-header">
        <div class="container">
            <nav><a href="/weather">back</a></nav>

        </div>
    </div>
    <p>{{error}}</p>
    <div class="fixed-footer">
        <nav>
            <a href="/logout"> logout </a>
        </nav>
    </div>
    {%- elif error_message != error_none -%}
    <div class="fixed-header">
        <div class="container">
            <nav><a href="/weather">back</a></nav>

        </div>
    </div>
    <p>{{ error_message }}</p>
    <div class="fixed-footer">
        <nav>
            <a href="/logout"> logout </a>
        </nav>
    </div> {%- else -%}
    <div class="fixed-header">
        <div class="container">
            <nav><a href="/weather">back</a></nav>

        </div>
    </div>

    <h1>cityname : {{ city_name}}</h1>
    <p>
        country code : {{country_code}}<br> longtitude : {{ longitude }}<br> latitude : {{ latitude }}<br>temprature maximum : {{ temp_max }}<br> temprature minimum : {{ temp_min }}<br> temprature : {{ temprature_average }}<br> pressure : {{pressure}}
        <br> humidity : {{ humidity }}<br> wind speed : {{ wind_speed }}<br>cloud type : {{cloud}}

    </p>
    <div class="fixed-footer">
        <nav>
            <a href="/logout"> logout </a>
        </nav>
    </div>
    {% endif %}

</body>

</html>